<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>01-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,1391},{153,141}}</string>
                <key>offset</key>
                <string>{-1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,32},{153,141}}</string>
                <key>sourceSize</key>
                <string>{175,173}</string>
            </dict>
            <key>01-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1391},{153,141}}</string>
                <key>offset</key>
                <string>{-1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,32},{153,141}}</string>
                <key>sourceSize</key>
                <string>{175,173}</string>
            </dict>
            <key>01.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,912},{346,356}}</string>
                <key>offset</key>
                <string>{-1,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,12},{346,356}}</string>
                <key>sourceSize</key>
                <string>{418,418}</string>
            </dict>
            <key>02-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,1260},{155,157}}</string>
                <key>offset</key>
                <string>{10,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,16},{155,157}}</string>
                <key>sourceSize</key>
                <string>{175,173}</string>
            </dict>
            <key>02-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,1260},{155,157}}</string>
                <key>offset</key>
                <string>{10,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,16},{155,157}}</string>
                <key>sourceSize</key>
                <string>{175,173}</string>
            </dict>
            <key>02.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,2},{316,378}}</string>
                <key>offset</key>
                <string>{24,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,2},{316,378}}</string>
                <key>sourceSize</key>
                <string>{418,418}</string>
            </dict>
            <key>03-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,1257},{105,161}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,12},{105,161}}</string>
                <key>sourceSize</key>
                <string>{175,173}</string>
            </dict>
            <key>03-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,1094},{105,161}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,12},{105,161}}</string>
                <key>sourceSize</key>
                <string>{175,173}</string>
            </dict>
            <key>03.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,370},{214,364}}</string>
                <key>offset</key>
                <string>{2,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,4},{214,364}}</string>
                <key>sourceSize</key>
                <string>{418,418}</string>
            </dict>
            <key>04-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,1420},{139,157}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,16},{139,157}}</string>
                <key>sourceSize</key>
                <string>{175,173}</string>
            </dict>
            <key>04-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,1340},{139,157}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,16},{139,157}}</string>
                <key>sourceSize</key>
                <string>{175,173}</string>
            </dict>
            <key>04.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,624},{286,362}}</string>
                <key>offset</key>
                <string>{-2,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,6},{286,362}}</string>
                <key>sourceSize</key>
                <string>{418,418}</string>
            </dict>
            <key>05-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,1217},{121,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,0},{121,173}}</string>
                <key>sourceSize</key>
                <string>{175,173}</string>
            </dict>
            <key>05-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,1094},{121,173}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,0},{121,173}}</string>
                <key>sourceSize</key>
                <string>{175,173}</string>
            </dict>
            <key>05.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,2},{224,366}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,3},{224,366}}</string>
                <key>sourceSize</key>
                <string>{418,418}</string>
            </dict>
            <key>06-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,1272},{117,157}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,16},{117,157}}</string>
                <key>sourceSize</key>
                <string>{175,173}</string>
            </dict>
            <key>06-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1272},{117,157}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,16},{117,157}}</string>
                <key>sourceSize</key>
                <string>{175,173}</string>
            </dict>
            <key>06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{242,376}}</string>
                <key>offset</key>
                <string>{0,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,0},{242,376}}</string>
                <key>sourceSize</key>
                <string>{418,418}</string>
            </dict>
            <key>07-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,1417},{139,149}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,24},{139,149}}</string>
                <key>sourceSize</key>
                <string>{175,173}</string>
            </dict>
            <key>07-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,1417},{139,149}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,24},{139,149}}</string>
                <key>sourceSize</key>
                <string>{175,173}</string>
            </dict>
            <key>07.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,320},{302,376}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,5},{302,376}}</string>
                <key>sourceSize</key>
                <string>{418,418}</string>
            </dict>
            <key>08-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,1561},{103,131}}</string>
                <key>offset</key>
                <string>{0,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,42},{103,131}}</string>
                <key>sourceSize</key>
                <string>{175,173}</string>
            </dict>
            <key>08-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,1481},{103,131}}</string>
                <key>offset</key>
                <string>{0,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,42},{103,131}}</string>
                <key>sourceSize</key>
                <string>{175,173}</string>
            </dict>
            <key>08.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,736},{238,356}}</string>
                <key>offset</key>
                <string>{-2,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,11},{238,356}}</string>
                <key>sourceSize</key>
                <string>{418,418}</string>
            </dict>
            <key>09-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,1133},{167,137}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,36},{167,137}}</string>
                <key>sourceSize</key>
                <string>{175,173}</string>
            </dict>
            <key>09-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1133},{167,137}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,36},{167,137}}</string>
                <key>sourceSize</key>
                <string>{175,173}</string>
            </dict>
            <key>09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{414,370}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{414,370}}</string>
                <key>sourceSize</key>
                <string>{418,418}</string>
            </dict>
            <key>10-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,986},{169,145}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,28},{169,145}}</string>
                <key>sourceSize</key>
                <string>{175,173}</string>
            </dict>
            <key>10-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,986},{169,145}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,28},{169,145}}</string>
                <key>sourceSize</key>
                <string>{175,173}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,618},{366,372}}</string>
                <key>offset</key>
                <string>{-3,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,5},{366,372}}</string>
                <key>sourceSize</key>
                <string>{418,418}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>data_item.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9d6d59ecef81872170fbcdc728ff4b5b:1/1$</string>
            <key>textureFileName</key>
            <string>data_item.png</string>
        </dict>
    </dict>
</plist>
